html, body {
  height: 100%;
  margin: 0;
  font-family: 'Minecraft Rus', sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0 none;
}

.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  outline: 0 none;
}

.heart {
  position: absolute;
  top: -50%;
  transform: rotate(-45deg);
  outline: 0 none;
}

.heart:before,
.heart:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
  outline: 0 none;
}

.heart:before {
  top: -50%;
  left: 0;
  outline: 0 none;
}

.heart:after {
  top: 0;
  right: -50%;
  outline: 0 none;
}

@keyframes love {
  0% {
      top: 110%;
  }
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #53000f;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 80%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  pointer-events: none;
  копейр: 0 уд;
}

.Следующая кнопка {
  Обобр: уд;
  Позиция: зaikcyrovannnый;
  Униджин: 50пк;
  ЛЕВ: 50%;
  Прровани: Translatex(-50%);
  Провкладка: 15пк 30пк;
  фоновый цвет: #FF4D6D;
  цВ: БЕЛ;
  Graoniцa: уд;
  graoniц-radiй: 25пк;
  размер шрифта: 1.2em;
  керсор: Эка;
  Z-Index: 1000;
  ПРЕДУПРЕЖДЕНИЕ: В. 0.3Пост простета;
  Коробка: 0 4пк 15pk RGBA(0,0,0,0.2);
}

.Следующая кнопка:прокаат {
  Фоноварт: #фт3357;
  Прровани: Translatex(-50%) шКала(1.05);
}

@СМИ (максимальная ширина: 600pk) {
  .сообщение {
    размер шрифта: 1.5em; 
    padding: 10pk; 
  }

  .Следующая кнопка {
    прокладка: 10пк 20пк; 
    размер шрифта: 1em; 
  }
}

@СМИ (мин-ширина: 601px) и (максимальная ширина: 1024px) {
  .сообщение {
    размер шрифта: 2.0em;
    padding: 15px;
  }

  .Следующая кнопка {
    прокладка: 12пк 25пк; 
    размер шрифта: 1.1em; 
  }
}

@СМИ (мин-ширина: 1025px) {
  .сообщение {
    размер шрифта: 3em; 
    padding: 20px; 
  }

  .Следующая кнопка {
    прокладка: 15пк 30пк; 
    размер шрифта: 1.2em; 
  }
}
